<%- include("partials/_header") -%>

<body>

  <%- include("partials/_navigation") -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1> <%= post.title %></h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= post.detail %></p>
          <a href="#">
            <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </article>

  <hr>
    <div style="display: flex;flex-direction: row; justify-content: center;  ">
      <a style="color: white ;margin-right: 8px; font-size: 22px ;padding-left: 12px; padding-right: 12px; text-decoration: none ;height: 50px; width: 150px; background-color: black; text-align: center; align-content: center;justify-content: center; border-radius: 8px;" 
      href="/posts/edit/<%= post._id%>">
          Update Post
      </a>
      <a onclick="return confirm('Are you sure?')" style="color: white; margin-left: 8px; font-size: 22px ;padding-left: 12px; padding-right: 12px; text-decoration: none ;height: 50px; width: 150px; background-color: red; text-align: center; align-content: center;justify-content: center; border-radius: 8px;" 
      href="/posts/<%= post._id %>?_method=DELETE">
          Delete Post
      </a>
    </div>
  <hr>

  <%- include("partials/_footer") -%>

</body>

</html>
